aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.11.1
altair==5.0.1
anyio==3.6.2
apache-airflow==2.6.2
apache-airflow-providers-common-sql==1.5.2
apache-airflow-providers-ftp==3.4.2
apache-airflow-providers-http==4.4.2
apache-airflow-providers-imap==3.2.2
apache-airflow-providers-sqlite==3.4.2
apispec==5.2.2
appdirs==1.4.4
argcomplete==3.1.1
argilla==1.12.0
asgiref==3.7.2
async-timeout==4.0.2
attrs==22.2.0
Babel==2.12.1
backoff==2.2.1
beautifulsoup4==4.12.2
bidict==0.22.1
black==23.3.0
blinker==1.6.2
cachelib==0.9.0
cachetools==5.3.1
cattrs==23.1.2
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
chromadb==0.3.23
click==8.1.3
clickclick==20.10.2
clickhouse-connect==0.6.4
cloudpickle==2.2.1
colorama==0.4.6
colorclass==2.2.2
colorlog==4.8.0
commonmark==0.9.1
compressed-rtf==1.0.6
ConfigUpdater==3.1.1
connexion==2.14.2
cron-descriptor==1.4.0
croniter==1.4.1
cryptography==41.0.1
dataclasses-json==0.5.9
decorator==5.1.1
Deprecated==1.2.14
diff-cover==7.6.0
dill==0.3.6
dnspython==2.3.0
docutils==0.20.1
duckdb==0.8.1
easygui==0.98.3
ebcdic==1.1.1
email-validator==1.3.1
et-xmlfile==1.1.0
extract-msg==0.41.1
fastapi==0.88.0
filelock==3.12.2
Flask==2.2.5
Flask-AppBuilder==4.3.1
Flask-Babel==2.0.0
Flask-Caching==2.0.2
Flask-JWT-Extended==4.5.2
Flask-Limiter==3.3.1
Flask-Login==0.6.2
Flask-Session==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
frozenlist==1.3.3
fsspec==2023.6.0
gitdb==4.0.10
GitPython==3.1.31
gpt4all==0.3.4
graphviz==0.20.1
gunicorn==20.1.0
h11==0.14.0
hnswlib==0.7.0
httpcore==0.16.3
httptools==0.5.0
httpx==0.23.3
huggingface-hub==0.15.1
idna==3.4
IMAPClient==2.3.1
importlib-metadata==6.7.0
importlib-resources==5.12.0
inflection==0.5.1
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.1
jsonschema==4.17.3
langchain==0.0.197
langchainplus-sdk==0.0.19
lark-parser==0.12.0
lazy-object-proxy==1.9.0
limits==3.5.0
linkify-it-py==2.0.2
llama-cpp-python==0.1.50
lockfile==0.12.2
lxml==4.9.2
lz4==4.3.2
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.19.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
mdit-py-plugins==0.4.0
mdurl==0.1.2
monotonic==1.6
mpmath==1.3.0
msg-parser==1.2.0
msoffcrypto-tool==5.0.1
multidict==6.0.4
mypy-extensions==1.0.0
networkx==3.1
nltk==3.8.1
numexpr==2.8.4
numpy==1.23.5
olefile==0.46
oletools==0.60.1
openai==0.27.2
openapi-schema-pydantic==1.2.4
openpyxl==3.1.2
ordered-set==4.1.0
packaging==23.1
pandas==1.5.3
pandoc==2.3
pathspec==0.9.0
pcodedmp==1.2.6
pdfminer.six==20221105
pendulum==2.1.2
Pillow==9.5.0
platformdirs==3.8.0
plotly==5.14.1
pluggy==1.0.0
plumbum==1.8.2
ply==3.11
posthog==3.0.1
prison==0.2.1
protobuf==4.23.3
psutil==5.9.4
pyarrow==12.0.1
pycparser==2.21
pydantic==1.10.10
pydeck==0.8.1b0
Pygments==2.15.0
PyJWT==2.7.0
Pympler==1.0.1
PyMuPDF==1.22.3
pynecone==0.1.24
pypandoc==1.11
pyparsing==2.4.7
pyrsistent==0.19.3
pytest==7.3.2
python-daemon==3.0.1
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-engineio==4.4.0
python-magic==0.4.27
python-multipart==0.0.5
python-nvd3==0.15.0
python-pptx==0.6.21
python-slugify==8.0.1
python-socketio==5.8.0
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
PyYAML==6.0
red-black-tree-mod==1.20
redis==4.5.4
regex==2023.6.3
requests==2.31.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rich==12.6.0
rich-argparse==1.2.0
RTFDE==0.0.2
safetensors==0.3.1
scikit-learn==1.3.0
scipy==1.11.1
sentence-transformers==2.2.2
sentencepiece==0.1.99
setproctitle==1.3.2
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4.1
SQLAlchemy==1.4.41
SQLAlchemy-JSONField==1.0.1.post0
SQLAlchemy-Utils==0.41.1
sqlalchemy2-stubs==0.0.2a33
sqlfluff==2.1.1
sqlmodel==0.0.8
sqlparse==0.4.4
starlette==0.22.0
streamlit==1.24.0
sympy==1.12
tabulate==0.9.0
tblib==1.7.0
tenacity==8.2.2
termcolor==2.3.0
text-unidecode==1.3
threadpoolctl==3.1.0
tiktoken==0.4.0
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
torch==2.0.1
torchvision==0.15.2
tornado==6.3.2
tqdm==4.65.0
transformers==4.30.2
typer==0.7.0
typing-inspect==0.9.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.2
uc-micro-py==1.0.2
unicodecsv==0.14.1
unstructured==0.6.6
urllib3==2.0.2
uvicorn==0.20.0
uvloop==0.17.0
validators==0.20.0
watchdog==2.3.1
watchfiles==0.19.0
websockets==10.4
Werkzeug==2.2.3
wrapt==1.14.1
WTForms==3.0.1
XlsxWriter==3.1.2
yarl==1.8.2
zipp==3.15.0
zstandard==0.21.0
